<!-- Login Page -->
<!doctype html>
<html lang="en">
<head>
  <meta name="charset" content="UTF-8">
  <meta name="author" content="Qi">
  <meta name="description" content="Login Page">
  <title>Login</title>
  <!-- <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/> -->
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="views/css/signin.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="home">
      <img class="rounded-circle" src="views/img/tree1.png" alt="add logo" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="current_reccomendations">Current</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="weekly">Weekly</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="monthly">Monthly</a>
        </li> -->
      </ul>
      <!-- <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
      </div> -->
    </div>
  </nav>
  <div class="div text-center" >
    <form action = "/home_login" method = "post" class="form-signin">
      <img class="rounded-circle" src="views/img/logo2.png" alt="" width="180" height="180">
      <br> <br>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputUname" class="sr-only">Username</label>
      <input type="username" name = "loginuser" id="inputUname" class="form-control" placeholder="Enter username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name = "loginpassword" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary" type="submit" style = "color: white;background-color: #336699;">Sign in</button>
      <a class="btn btn-lg btn-primary" href="home_register" style = "color: white;background-color: #336699;">Register</a>
      <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </div>
  <div class="container-lg" style="margin-top: 2%;">
    <% if (error) { %>
      <script>
        alert("Incorrect Username/Password. Try again");
      </script>
    <% } %>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>
</html>
